<script type="text/javascript">
    RED.nodes.registerType('generate-uuid', {
        category: 'Senseup ID Generators',
        color: '#A6BBCF',
        defaults: {
            name: { value: "" },
            output: { value: "" }
        },
        inputs:1,
        outputs:1,
        icon: "font-awesome/fa-key",
        label: function() {
            return this.name || "UUID";
        },
        oneditprepare: function () {
            $("#node-input-output").typedInput({
                type: "msg",
                types: ["msg"],
                typeField: "#node-input-output-type"
            });
        }
    });
</script>

<script type="text/html" data-template-name="generate-uuid">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-output"><i class="fa fa-edit"></i> Output to</label>
        <input type="text" id="node-input-output" placeholder="Property name...">
        <input type="hidden" id="node-input-output-type">
    </div>
</script>

<script type="text/html" data-help-name="generate-uuid">
    <p>A simple node that generates a UUIDV4 and assigns it to a msg property of your choice.</p>
    <p>Enter the name of the new property in the "Output to" field.</p>

    <h3>Details</h3>
    <p>Always keep in mind that if the property entered in "Output to" already exists in the msg, 
    it will be overwritten by a UUID.</p>
</script>